

/* Hero Section */
.hero-section {
    grid-column: 1/5;
    /* background: url('../src/components/assests/catgirl1.jpg'); */
    background: linear-gradient(to right, #0d1720, #0665b3, #3f7293,white);
    width: -webkit-fill-available;
    text-align: center;
    padding:1rem;
    font-family:system-ui;
    border: 1px solid orange;
    color:white;
    font-weight: 500;  
    font-size: 1.5rem;  
  }

/* @media screen and (max-width:700px) { */
@media screen and (max-width:450px) {
    .hero-section {
        color: white;
        background: #f38d9f;
    }
}