:root {
  --red-bottom-dark: #8a3f3f;
  --blue-bottom-dark: #0d1720;
  --blue-accent: #3f7293;
  --blue-main:#0665b3;
}
.head {
    width:100vw;
    min-height: 50vh;  
    /* height: clamp(40vh, 46vh, 80vh); */
    /* 000e19 */
    /* background: linear-gradient(to bottom, #0b1e2d, #004b87 100%); */
    background: linear-gradient(to bottom, var(--blue-bottom-dark), #0665b3 100%);
    /* background: linear-gradient(to bottom, #05090d, #06a4be 100%);*/
    /* background: linear-gradient(to bottom, #05090d, #048196 100%); */
        /* background: linear-gradient(to bottom, #05090d, #007e94 100%); */
        /* background: linear-gradient(to bottom, #05090d, #3a6d8c 100%); */
    /* 0089bf  */
    /* background: linear-gradient(to bottom, #024077, #0665b3 100%); */
  
    display:grid;
    gap: .5rem;
    grid-template-columns: 1fr 3fr 1fr .2fr;
    grid-template-rows:.1fr .5fr 1fr .5fr;
    align-items: center;
    justify-items: center;
    
  }

  .headrow0 {
    grid-row:1/1;
  }
  .headrow1 {
    grid-row: 2/3;
  }
  .headrow2 {
    grid-row: 3/4;
  }
  .headrow3 {
    grid-row: 4/5;
  }
  .headrow4 {
    grid-row: 5/6;
  }
  .headrow-2-attributes {
    gap: 1rem;
    margin-left:-8%
    /* background-image: url('https://images.pexels.com/photos/879356/pexels-photo-879356.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1'); */
    }
    .headerimg2{
    /* background-image: url('https://images.pexels.com/photos/1372014/pexels-photo-1372014.jpeg'); */
    background-repeat: no-repeat;
    opacity: .8;
    /* width: -webkit-fill-available;
    object-fit: fill; */
    position: absolute;
    top: 18%;
    width: fit-content;
    left: 15%;
  }
  .headerimg{

  }
  .tel {
    color: #2a9dfc !important;
    padding: 2%;
  }

  .logo {
    width: -webkit-fill-available;;
    /* background-image: url("../../assests/logo3.png"); */
    background-repeat: no-repeat;
    opacity: 0.8;
  }
  .logo-container {
    width: 90px;
  }
  .logo-container2 {
    width: 150px;
  }
    
  .coinimg {
    width: 1.7rem;
    height: 1.7rem;
  }

.crypto-banner {
    /* background-color: var(--blue-bottom-dark); */
    background: linear-gradient(to bottom, #022643, #0072cf 100%);
    justify-content: space-evenly;
    align-items: center; 
    color: #cfa900;
    margin-top:-32px;
    font-size: 0.9rem;
    font-weight:600;
    padding: 0.1%;
}
.navbar {
    color: white !important;
    /* background-color: var(--blue-accent);     */
    /* background-color: #08467a;     */
       /* background: linear-gradient(to bottom, #024077, #0665b3 100%); */
       /* background: linear-gradient(to bottom, #093459, #0665b3 100%); */
       /* background: linear-gradient(to bottom, #007fed, #0665b3 100%); */
       background: linear-gradient(to bottom, #093459, #0665b3 100%);
    position: sticky;
    list-style-type: none;
    justify-content: space-evenly;
    margin-top:-32px;    
    align-items: center; 
    padding:.1%;   
  }
  .sub-banner {
    /* max-width: 1250px; */
    /* border-radius: 2rem; */
   font-size: .8rem;
  }
.navul a{
    color: white !important;
    flex: 1;
    max-width: 60%;
    justify-content: space-between;
    text-decoration:none;
}
.sub-banner img {
  /* width: 15%; */
  height: 70%;
  /* aspect-ratio:2/1; */
}

.head  {
  color: white !important;
  text-decoration: none;
  /* font-size: 1.2em; */
  
}
.head a {
  text-decoration: none;
}


.modal-bg {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.45);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 4;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s;
}
.modal-dialog {
  max-width: 400px;
  max-height: 400px;
  background-color: white;
  border-radius: 3%;
  padding: 2%;
}
.bg-active {
  visibility: visible;
  opacity: 1;
}

.btn-close {
  box-sizing: content-box;
  width: 1em;
  height: 1em;
  padding: 0.25em;
  color: #000;
  /* background: transparent
    url(
      data:image/svg + xml;charset=utf-8,
      %3Csvgxmlns="http://www.w3.org/2000/svg"viewBox="0 0 16 16"fill="%23000"%3E%3Cpathd="M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z"/%3E%3C/svg%3E
    )
    50%/1em auto no-repeat; */
  border: 0;
  border-radius: 0.25rem;
  opacity: 0.5;
  cursor: pointer;
}

.modalbutton {
  width: 100%;
  background-color: #0d6efd;
  color: #fff;
  margin: 5px;
  padding: 2%;
  cursor: pointer;
}
.modalBtn {
  cursor: pointer;
}
.main-header {
   color: white ;
   font-size: 1.6rem ;
   font-family: sans-serif ;
}

.head-slogan {
  font-size:.8rem;
  font-weight: 600;
    line-height: 1.2;
     /* margin-top: 5%; */
}

@media screen and (min-width:1440px) { 
  .headerimg2{
    left: clamp(26%,30%,35%);
  }
  }

@media screen and (max-width:1040px) { 
.headerimg2{
  left: 7%;
}
}

@media screen and (max-width:1040px) {
 
.headerimg2{
  left: 10%;
}
}

@media screen and (max-width:890px) {
.crypto-banner {
  background: white;
  font-weight:700;
  }
.render-coins {
  gap: 3px;
}
.headerimg2{
  left:10%;
}
.head-slogan {
  font-size:.6rem;   
}
.main-header {

  font-size: 1.4rem ;
}
}

@media  (max-width: 720px){ 
  .head {
      /* font-size:85% ; */
      display:flex ;
      flex-wrap: wrap;
      justify-content: center;
      flex-direction: column;
      min-height: 250px; 
      max-height: 340px;
      /* flex-direction: column; */
  }
 
  .header-login {
      grid-row: 3/4;
      grid-column:1/2;
  }
  .logo-container {
      width:16% ;
  }
  .logo {
      border: none !important;
  }
  .row-2-attributes {
    justify-content: center;

  }
  .main-header {
    font-size:1rem;
  }  
}